<div class="container">
  <app-navbar title="User Profile"></app-navbar>
  <div class="row" style="margin-top: 30px">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">perm_identity</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">Register Supervisor -
            <small class="category">Enter your details</small>
          </h4>
          <form #CreateSupervisorForm="ngForm" novalidate>


              <div class="row">
                  <div class="col-md-4">
                    <mat-input-container color="accent">
                      <input matInput type="text" placeholder="Supervisor ID" name="supervisorId" [(ngModel)]="supervisor.supervisorID" #supervisorId="ngModel" >
                    </mat-input-container>
                  </div>
                </div>





            <div class="row">
              <div class="col-md-6">
                <mat-input-container color="accent">
                  <input matInput type="text" placeholder="First Name" id="firstname" name="firstname" [(ngModel)]="supervisor.firstname" #firstname="ngModel" value="Ci" >
                </mat-input-container>
              </div>
              <div class="col-md-6">
                <mat-input-container color="accent">
                  <input matInput type="text" placeholder="Last Name" id="lastname" name="lastname" [(ngModel)]="supervisor.lastname" #lastname="ngModel" value="Clia" >
                </mat-input-container>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <mat-input-container color="accent">
                  <input matInput type="text" name="nic" [(ngModel)]="supervisor.nic" placeholder="NIC" #nic="ngModel" id="nic">
                </mat-input-container>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <mat-input-container color="accent">
                  <input matInput type="text" [(ngModel)]="supervisor.password" #password="ngModel" placeholder="Password"  id="password" name="password">
                </mat-input-container>
              </div>

            </div>

            <div class="row">
              <div class="col-md-4">
                <mat-input-container color="accent">
                  <input matInput type="text" placeholder="Re-enter Password" name="confirmPassword" [(ngModel)]="supervisor.confirmPassword" #confirmPassword="ngModel">
                </mat-input-container>
              </div>

            </div>





            <div class="row action-btn">
              <button md-raised-button type="submit" class="btn btn-rose" (click)="register(CreateSupervisorForm)">REGISTER</button>
            </div>



          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
