<div class="container">
  <div class="container">
    <div class="row">
      <app-header></app-header>
    </div>
    <div class="row register-panel">
      <div class="col-md-10 col-md-offset-1">
        <div class="card">
          <h2>Register</h2>
          <div class="row">
            <div class="col-md-6" style="margin: auto; display: block">
              <form action="">
                  <div class="form-group">

                      <div class="row">
                          
                          <mat-input-container color="accent">
                            <input type="text" matInput placeholder="Company Name" name="companyName" [(ngModel)]="company.companyName" #companyName="ngModel"
                              id="companyName" required>
                          </mat-input-container>
                          <div class="alert alert-danger" *ngIf="companyName.touched && !companyName.valid">Company Name Required.</div>
                      </div>

                      <div class="row">
                          
                          <mat-input-container color="accent">
                            <input type="text" matInput placeholder="Supervisor Name" name="supervisorName" [(ngModel)]="company.supervisorName" #supervisorName="ngModel"
                              id="supervisorName" required>
                          </mat-input-container>
                          <div class="alert alert-danger" *ngIf="supervisorName.touched && !supervisorName.valid"> Supervisor Name Required.</div>
                      </div>

                      <div class="row">
                          
                          <mat-input-container color="accent">
                              
                            <input type="text" matInput placeholder="Contact Number" name="contactNum" [(ngModel)]="company.contactNum" #contactNum="ngModel"
                              id="contactNum"  minlength="10" maxlength="10" required>
                          </mat-input-container>
                          <div class="alert alert-danger" *ngIf="contactNum.touched && !contactNum.valid">
                            <div *ngIf="contactNum.errors.required">Contact Number Required.</div>
                            <div *ngIf="contactNum.errors.minlength">Contact Number length is 10</div>
                          </div>
                      </div>

                      <div class="row">
                          
                          <mat-input-container color="accent">
                            <input type="text" matInput placeholder="Address" name="address" [(ngModel)]="company.address" #address="ngModel"
                              id="address" required>
                          </mat-input-container>
                          <div class="alert alert-danger" *ngIf="address.touched && !address.valid">Address Required.</div>
                      </div>

                      <div class="row">
                          
                          <mat-input-container color="accent">
                            <input type="text" matInput placeholder="Email" name="email" [(ngModel)]="company.email" #email="ngModel"
                              id="email" required>
                          </mat-input-container>
                          <div class="alert alert-danger" *ngIf="email.touched && !email.valid">Email Required.</div>
                      </div>

                    </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>