<div class="container">
  <app-navbar title="User Profile"></app-navbar>
  <div class="row dailyDiary" style="margin-top: 30px">
    <div class="col-md-12">
      <div class="card"> 
        <div class="card-content">
          <h2 style="text-align: left;"><strong>Daily Diary</strong></h2>
          <form #CreateDailyDiaryForm="ngForm" novalidate>
            <div class="row">
                <div class="col-md-7">
                    <mat-input-container color="accent">
                      <!-- <input matInput type="text" [(ngModel)]="Formi3DailyDiary.studentId" #studentId="ngModel" value="Ci" name="studentId"> -->
                      <input matInput type="text" placeholder="Student ID"[(ngModel)]="dailyDiary.studentId" #studentId="ngModel" value="Ci" name="studentId">
                    </mat-input-container>
                  </div>
              <div class="col-md-7">
                <mat-input-container color="accent">
                  <input matInput type="text" placeholder="Training Party" [(ngModel)]="dailyDiary.trainingParty" #trainingParty="ngModel" value="Ci" name="trainingParty">
                </mat-input-container>
              </div>
            </div>
            <h5>Training Period</h5>
            <div class="col-md-6"> 
                <mat-form-field>
                    <input matInput [matDatepicker]="picker"  [(ngModel)]="dailyDiary.startDate" #startDate="ngModel" placeholder="From" name="startDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
            <div class="col-md-6"> 
                <mat-form-field>
                    <input matInput [matDatepicker]="picker1"  [(ngModel)]="dailyDiary.endDate" #endDate="ngModel" placeholder="To" name="endDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
            </div>
             
            <div class="row">
              <div class="col-md-8">
                <label class="textarea-label">Description</label>
                <mat-input-container color="accent">
                  <textarea matInput  [(ngModel)]="dailyDiary.description" #description="ngModel"  name="description" placeholder="Enter Description about your daily Training"></textarea>
                </mat-input-container>
              </div>
            </div>
            <div class="row action-btn">
                <button md-raised-button type="submit" class="btn btn-danger">Reset</button>
              <button md-raised-button type="submit" class="btn btn-success" (click)="onSubmit(CreateDailyDiaryForm)">Add</button>
              
            </div>

           
          </form>
        </div>
      </div>
    </div> 
  </div>
</div>
