<app-navbar title="Form I-3"></app-navbar>
<div class="card">
  <h2 style="text-align: left;">INTERNS DAILY DIARY</h2>
  <div class="example-container">
    <form autocomplete="off" #CreateUserForm="ngForm" novalidate>
        <h5 style="text-align: left;">Intern's Information</h5>
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="Intern's Name" class="fullLength">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="Student ID No" class="fullLength">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="Intern's Private Address" class="fullLength">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input type="tel" matInput placeholder="Contact Number" class="fullLength">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input type="email" matInput placeholder="E-mail Addresses" class="fullLength">
          <mat-hint>*Use comma(,) to seperate multiple email addresses</mat-hint>
        </mat-form-field>
      </div>
      <br/>
      <h5 style="text-align: left;">Internship Information</h5>
      <div class="row">
          <mat-form-field>
            <input type="tel" matInput placeholder="Internship Title" class="fullLength">
          </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
              <input type="tel" matInput placeholder="Specilisation" class="fullLength">
            </mat-form-field>
          </div> 
    </form>
  </div>
</div>