<app-navbar title="Form I-1"></app-navbar>
<div class="card">
  <h2 style="text-align: left;">Internship Acceptance Form</h2>
  <div class="example-container">
    <form autocomplete="off" #CreateUserForm="ngForm" novalidate>
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="Student ID No" class="fullLength">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="Student's Name" class="fullLength">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input matInput placeholder="Address" class="fullLength">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input type="tel" matInput placeholder="Home Phone" class="fullLength">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input type="tel" matInput placeholder="Mobile Phone" class="fullLength">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <input type="email" matInput placeholder="E-mail Addresses" class="fullLength">
          <mat-hint>*Use comma(,) to seperate multiple email addresses</mat-hint>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-select placeholder="Semester">
          <mat-option>1</mat-option>
          <mat-option>2</mat-option>
        </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Year">
              <mat-option>Year 1</mat-option>
              <mat-option>Year 2</mat-option>
              <mat-option>Year 3</mat-option>
              <mat-option>Year 4</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="CGPA">
        </mat-form-field>
      </div>
    </form>
  </div>
</div>