<div class="container">
    <div class="row">
      <!--col-md-2-->
        <div class=" col-md-2"></div>
      <!-- form content start -->  
        <div class=" col-md-8">
            <div class="card">
                <div class="card-content">
                  <h4 class="card-title">
                    <h4 class="category">Enter Your Details</h4>
                  </h4>
                  <form>
      
                    <div class="row">
                      <div class="col-md-6 offset-md-6">
                        <mat-input-container color="accent">
                          <input matInput type="text" placeholder="Student ID" [(ngModel)]="studentId" value="Ci" name="studentId">
                        </mat-input-container>
                      </div>
                    </div>
      
                    <div class="row">
                        <div class="col-md-6 offset-md-6">
                            <mat-input-container color="accent">
                              <input matInput type="text" placeholder="First Name" [(ngModel)]="firstName" value="Ci" name="firstName">
                            </mat-input-container>
                        </div>
                    </div>
      
                    <div class="row">
                        <div class="col-md-6 offset-md-6">
                            <mat-input-container color="accent">
                              <input matInput type="text" placeholder="Last Name" [(ngModel)]="lastName" value="Ci" name="lastName">
                            </mat-input-container>
                        </div>
                    </div>
                    
                   <div class="row">
                        <div class="col-md-6">
                            <mat-input-container color="accent">
                                <mat-select placeholder="Company"></mat-select>
                            </mat-input-container>
                        </div>

                        <div class="col-md-6">
                            <mat-input-container color="accent">
                                <mat-select placeholder="Supervisor"></mat-select>
                            </mat-input-container>
                        </div>
                   </div>

                   <div class="row">
                      <div class="col-md-6">
                          <mat-input-container color="accent">
                              <mat-select placeholder="Academic Year"></mat-select>
                          </mat-input-container>
                      </div>
                  </div>

                    <div class="row action-btn">
                      <!-- Save button -->
                      <button md-raised-button type="submit" class="btn btn-rose">Save</button>

                      <!-- Redirect to home (Main page) -->
                      <button md-raised-button type="submit" class="btn btn-rose" routerLink="/">Login</button>
                    </div>
                  </form>
                </div>
              </div>
        </div>
        <!-- form content end -->

        <!-- col-md-2 -->
        <div class=" col-md-2"></div>
    </div>
</div>