<div class="container">
    <div class="row">
      <!--col-md-2-->
        <div class=" col-md-2"></div>
      <!-- form content start -->  
        <div class=" col-md-8">
            <div class="card">
                <div class="card-content">
                  <h4 class="card-title">
                    <h4 class="category">Enter Your Details</h4>
                  </h4>
                  <form #CreateStudentForm="ngForm" novalidate>
      
                    <div class="row">
                      <div class="col-md-6 offset-md-6">
                        <mat-input-container color="accent">
                          <input matInput type="text" placeholder="Student ID" [(ngModel)]="student.studentId" #studentId="ngModel" value="Ci" name="studentId">
                        </mat-input-container>
                      </div>
                    </div>
      
                    <div class="row">
                        <div class="col-md-6 offset-md-6">
                            <mat-input-container color="accent">
                              <input matInput type="text" placeholder="First Name" [(ngModel)]="student.firstName" #firstName="ngModel" value="Ci" name="firstName">
                            </mat-input-container>
                        </div>
                    </div>
      
                    <div class="row">
                        <div class="col-md-6 offset-md-6">
                            <mat-input-container color="accent">
                              <input matInput type="text" placeholder="Last Name" [(ngModel)]="student.lastName" #lastName="ngModel" value="Ci" name="lastName">
                            </mat-input-container>
                        </div>
                    </div>
                    
                   <div class="row">
                        <div class="col-md-6">
                            <mat-input-container color="accent">
                                <mat-select placeholder="Company" [(ngModel)]="student.company" #company="ngModel" name="company">
                                    <mat-option *ngFor="let company of companies" [value]="company.id">{{company.name}}</mat-option>
                                </mat-select>
                            </mat-input-container>
                        </div>

                        <div class="col-md-6">
                            <mat-input-container color="accent">
                                <mat-select placeholder="Supervisor" [(ngModel)]="student.supervisor" #supervisor="ngModel" name="supervisor">
                                    <mat-option *ngFor="let supervisor of supervisors" [value]="supervisor.id">{{supervisor.name}}</mat-option>
                                </mat-select>
                            </mat-input-container>
                        </div>
                   </div>

                   <div class="row">
                      <div class="col-md-6">
                          <mat-input-container color="accent">
                              <mat-select placeholder="Academic Year" [(ngModel)]="student.academicYear" #academicYear="ngModel" name="academicYear">
                                <mat-option *ngFor="let year of years" [value]="year.id">{{year.name}}</mat-option>
     
                              </mat-select>
                          </mat-input-container>
                      </div>
                  </div>

                    <div class="row action-btn">
                      <!-- Save button -->
                      <button md-raised-button type="submit" class="btn btn-rose" (click)="onSubmit(CreateStudentForm)">Save</button>

                      <!-- Redirect to home (Main page) -->
                      <button md-raised-button type="submit" class="btn btn-rose" routerLink="/">Login</button>
                    </div>
                  </form>
                </div>
              </div>
        </div>
        <!-- form content end -->

        <!-- col-md-2 -->
        <div class=" col-md-2"></div>
    </div>
</div>