<!-- <app-navbar title="Form I-1"></app-navbar>
<div class="card">
  <h2 style="text-align: left;">Internship Acceptance Form</h2>
  <div class="example-container">
    <form autocomplete="off" #CreateFormI1P1="ngForm" novalidate>
      <div class="row">
        <mat-form-field class="fullLength">
          <input matInput placeholder="Student ID No" class="fullLength" name="studentId" [(ngModel)]="formI1P1.studentId" #studentId="ngModel"
          id="studentId">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="fullLength">
          <input matInput placeholder="Student's Name" class="fullLength" name="name" [(ngModel)]="formI1P1.name" #name="ngModel"
          id="name">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="fullLength">
          <input matInput placeholder="Address" class="fullLength" name="address" [(ngModel)]="formI1P1.address" #address="ngModel"
          id="address">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="fullLength">
          <input type="number" matInput placeholder="Home Phone" class="fullLength" name="homePhone" [(ngModel)]="formI1P1.homePhone" #homePhone="ngModel"
          id="homePhone">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="fullLength">
          <input type="number" matInput placeholder="Mobile Phone" class="fullLength" name="mobilePhone" [(ngModel)]="formI1P1.mobilePhone" #mobilePhone="ngModel"
          id="mobilePhone">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="fullLength" class="fullLength" >
          <input type="email" matInput placeholder="E-mail Addresses" class="fullLength" name="emails" [(ngModel)]="formI1P1.emails" #emails="ngModel"
          id="emails">
          <mat-hint>*Use comma(,) to seperate multiple email addresses</mat-hint>
        </mat-form-field>
      </div>
      <div class="row" style="padding: 1%">
        <mat-form-field class="dropDowns">
          <mat-select placeholder="Semester" name="semester" [(ngModel)]="formI1P1.semester" #semester="ngModel"
          id="semester">
          <mat-option *ngFor="let semester of semesters" [value]="semester.id">
            {{semester.sem}}
          </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="dropDowns">
          <mat-select placeholder="Year" name="year" [(ngModel)]="formI1P1.year" #year="ngModel"
          id="year">
          <mat-option *ngFor="let year of years" [value]="year.id">
            {{year.val}}
          </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="dropDowns">
          <input type="number" max="4" min="0" matInput placeholder="CGPA" name="cgpa" [(ngModel)]="formI1P1.cgpa" #cgpa="ngModel"
          id="cgpa">
        </mat-form-field>
      </div>
      <button mat-raised-button class="btn btn-primary btn-round" type="submit" (click)="onSubmit(CreateFormI1P1)">Submit</button>
    </form>
  </div>
</div> -->